@charset "utf-8";

h1, h2 {
  font-size: 1.2rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-size: 0.8rem;
}
.gray-back {
  background: #fff6e4;
}
.full-width {
  width: 100%;
}
.bordered {
  border: 1px solid;
  padding: 0 4px;
}
.margin-top {
  margin-top: 20px;
}
.copyBtn-area {
  margin: 8px 0 16px;
  text-align: right;
}
input, button {
  padding: 8px;
}
.all-area p {
  margin: initial;
}